/* rosso ca0808 */

.rosso {
  background-color: #ca0808;
}

.grigio {
  background-color: #3b3b3a;
}

.testo-bianco {
  color: white;
}

.testo-rosso {
  color: #ca0808;
}

.margine-bianco{
  border: 2px solid white;
}

h1,h2 {
  font-family: 'Libre Baskerville', serif;
}

.font {
  font-family: 'Libre Baskerville', serif;
}

.font-grasso {
  font-family: 'Catamaran', sans-serif;
  font-weight: 900;
}

.large-arrow {
  font-size: 3em;
}

#menu, #menu a {
  font-weight: bold;
  text-transform: uppercase;
  color: white !important;
}

.off-canvas {
  background-color: #3b3b3a;
}

.off-canvas a{
  font-weight: bold;
  text-transform: uppercase;
  color: white !important;
}

.title-bar {
  background-color: #ca0808;
}

/************ PADDING ****************/
#newest {
  padding-top: 1em;
}

#news {
  padding-bottom: 1em;
}

#chi_siamo {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

#carousel {
  padding-top: 2em;
  padding-bottom: 1em;
}

#chi_siamo_img {
  padding-top: 1em;
  padding-bottom: 1em;
}

#spettacoli {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

#spettacolo_past_img {
  padding-bottom: 1em;
}

#parlano-di-noi {
  padding-top: 1em;
  padding-bottom: 1em;
}

#contattaci {
  padding-top: 1em;
}
