/* rosso ca0808 */
body{
  color: #3b3b3a;
}

h1{
  font-size: 4em;
}

.rosso {
  background-color: #ca0808;
}

.grigio {
  background-color: #3b3b3a;
}

.testo-bianco {
  color: white;
}

.testo-rosso {
  color: #ca0808;
}

.margine-bianco{
  border: 2px solid white;
}

.font {
  font-family: 'EB Garamond', serif;
}

.large-arrow {
  font-size: 3em;
}

#menu a {
  text-transform: uppercase;
  color: white !important;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

#menu a:hover {
  font-weight: bold;
}

.off-canvas {
  background-color: #3b3b3a;
}

.off-canvas a{
  font-weight: bold;
  text-transform: uppercase;
  color: white !important;
}

.title-bar {
  background-color: rgba(202, 8, 8, 0.7);
}

/************ PADDING ****************/
#newest {
  padding-top: 1em;
}

.extra-bold {
  font-weight: 800;
}

.extra-bold-padding {
    padding-bottom: 1em;
}

.newest_size {
  font-size: 2em;
}

#news {
  padding-bottom: 1em;
}

#chi_siamo {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

#carousel {
  padding-top: 2em;
  padding-bottom: 1em;
  margin-top: 2em;
  margin-bottom: 3em;
}

#chi_siamo_img {
  padding-top: 0.5em;
  padding-bottom: 1em;
}

#spettacoli {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.spettacolo_past_img {
  padding-bottom: 1em;
}

.titoletti {
  font-size: 1em;
}

.testo-spettacoli {
  font-size: 0.8em;
}

.date-spettacoli {
  font-size: 0.8em;
  padding-top: 1em;
  padding-bottom: 2em;
}

.date-spettacoli p {
  margin-bottom: 0;
}

#parlano-di-noi {
  margin-top: 4em;
  padding-top: 1em;
  padding-bottom: 1em;
}

#contattaci {
  padding-top: 1em;
}

#top-bar {
  height: 0 !important;
}

#mail {
  padding-right: 1em;
}

.center-social {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Small only */
@media screen and (max-width: 39.9375em) {
  h1{
    font-size: 2em;
  }
  .newest_size {
    font-size: 1.2em;
  }
}
